{% extends "base.html" %}

{% block content %}
<h1>Home page</h1>
<ul>
    <li>
        <a href="{{ url_for('post') }}">Create a Post</a>
    </li>
</ul>
{% if username %}
<span>signed in as:</span><b>{{username}}</b>
<a href="{{ url_for('signoff') }}">signoff</a>
{% else %}
<form action="{{ url_for('homepage') }}" method="post">
    <label for="username">username</label>
    <input type="text" id="username" name="username">
    <button type="submit">sign-in</button>
</form>
{% endif %}
<hr>
<h3>Top posts</h3>
<ol>
    {% for post in posts %}
        <li>[{{post['score']}}]<a href="{{ url_for('view_post', post_id=post['post_id']) }}">
            Post nr{{post['post_id']}}</a></li>
    {% else %}
    <li>
        <b>No posts yet</b>
    </li>
    {% endfor %}
</ol>

{% endblock content %}
